/* contact.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 36px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
    margin-botton: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-size: 16px;
    color: #333;
}

.input,
.textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.input:focus,
.textarea:focus {
    outline: none;
    border-color: #00f;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00f;
    color: #fff;
    border: none;
    margin-top: 1em;
}

.button:hover {
    background-color: #0f0;
}
